{% extends 'layout_admin.html' %}

{% block title %}添加系统用户_调查问卷管理系统{% endblock %}

{% block description %}添加系统用户，用于访问调查问卷管理系统后台。{% endblock %}

{% block keywords %}调查问卷, 管理, 系统用户, 添加用户{% endblock %}

{% block head %}
<script>
$(function() {
    $('li.system-user').addClass('active');    // 菜单项高亮
});
</script>
{% endblock head %}

{% block main %}
<ul class="breadcrumb">
    <li><a href="/admin/">调查问卷管理系统</a> <span class="divider">/</span></li>
    <li class="active">添加系统用户</li>
</ul><!-- End .breadcrumb -->
<form action="" method="post" class="form-horizontal">{% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="control-group">
        <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
        <div class="controls">
            {{ field }}
            {{ field.errors }}
        </div><!-- End .controls -->
    </div><!-- End .control-group -->
    {% endfor %}
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">保存</button>
            <a class="return" href="/admin/user/system/">返回</a>
        </div><!-- End .controls -->
    </div><!-- End .control-group -->
</form>
{% endblock main %}
