{% extends 'layout.html' %}

{% block title %}用户退出_调查问卷管理系统{% endblock %}

{% block description %}感谢您的使用，欢迎再次访问调查问卷管理系统。{% endblock %}

{% block keywords %}调查问卷, 管理, 用户退出{% endblock %}

{% block header %}
    <div class="container">
        <div class="row">
<div class="navbar span12">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/admin/">调查问卷管理系统</a>
        </div><!-- End .container -->
    </div><!-- End .navbar-inner -->
</div><!-- End .navbar -->
        </div><!-- End .row -->
    </div><!-- End .container -->
{% endblock header %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span12"><div class="well">
            <p>感谢您的使用，欢迎再次访问调查问卷管理系统！ <a href="/admin/">再次登录</a>
        </div><!-- End .well --></div><!-- End .span12 -->
    </div><!-- End .row -->
</div><!-- End .container -->
{% endblock %}
